<h1>Welcome</h1>
<p>_____________________________</p>

<%= link_to "Books", books_index_path %>
<%= link_to "Students", students_path %>
<%= link_to "Teachers", teachers_path %>
<%= link_to "Schools", schools_path %>



